:root{
    --bg-color: #1e1e23;
    --button-bg-color: #020202;
    --button-disabled-bg-color: #282828;
    --text-color: #ffffff;
    --border-color: rgba(255, 255, 255, 0.23);
    --output-text-color: #98c379;
    --output-bg-color: #1e1e1e;
}
body {
    margin: 0;
    padding: 0.4em 1em;
    background: var(--bg-color);
    color: var(--text-color);
    font-family: monospace;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
header{
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom:1px solid var(--border-color);
}
header h1{
    font-size: 16px;
}

button,
input[type="text"] {
    font-size: 14px;
    padding: 0.4em 0.8em;
    border-radius: 4px;
    border: none;
}

button {
    background: var(--button-bg-color);
    border: 1px solid var(--border-color);
    color: #ffffff;
    cursor: pointer;
    border-radius: 999px;
}

button:disabled {
    background: var(--button-disabled-bg-color);
    color: #9b9b9b;
    cursor: not-allowed;
}

input[type="text"] {
    flex: 0 0 200px;
    color: black;
}

header{
    margin-bottom: 1em;
}

footer{
    border-top: 1px solid var(--border-color);
    padding: 0.8em 0
}
footer a{
    color: var(--text-color)
}

#editor {
    flex: 1 1 auto;
    border: 1px solid var(--border-color);
    border-radius: 4px;
}

#output {
    height: 150px;
    background: var(--output-bg-color);
    color: var(--output-text-color);
    border: 1px solid var(--border-color);
    padding: 1em;
    overflow-y: auto;
    white-space: pre-wrap;
    margin-top: 0.5em;
    font-family: monospace;
    border-radius: 4px;
}

#filename{
    color: var(--text-color);
    background-color: transparent;
    outline: none;
    border: none;
    padding: 0;
    font-weight: bold;
    font-size: 1.2em;
}
#utils{
    margin-bottom: 0.6em;
    gap: 0.4em;
}

#controls {
    margin-bottom: 0.5em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

#bottom-menu{
    padding: 1em;
}

@media (min-width: 786px) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}