.flex-row {
    display: flex;
    flex-direction: row;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-bet {
    justify-content: space-between;
}
.gap {
    gap: 0.4em;
}

.icon-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.4em;
}